body
{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/eiffel.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 5% 20% 5% 20%;

    color: white;

}
.pera a
{
    color: yellow;
}
.hed
{
    color: white;
    font-size: 80%;
    border-bottom: blue solid;

}
.pera
{
    font: bolder;
    font-size: 100%;
}
.inp input
{
    background: none;
    border-color: rgb(4, 0, 255);
    border-top: none;
    border-left: none;
    border-right:none;
    outline: none;

    border-radius: 25px; 
    padding: 2%;
    margin: 2%;
    color: white;
}
.inp
{
    padding: 5%;
    font-weight: 100%;
    color: rgb(255, 255, 255);
}
.butt button
{
    width: 200px;
    background:none;
    border: 3px rgb(17, 0, 255) solid;
    border-radius: 25px;
    padding: 5px;
    font-size: 15px;

    position: relative;
    overflow: hidden;
}
.butt a
{
    color: white;
}
span
{
    background: rgb(24, 8, 255);
    height: 100%;
    width: 0%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -100;
    transition: 0.5s;
}
.butt:hover span
{
    width: 100%;
}
.butt :hover
{
    border: none;
}
footer
{
    font-size: small;
    text-align: center;
    font-size: 10px;
}